@model PMSCore.ViewModel.UpdateUser
@{
    ViewData["Title"] = "Edit User Page";
    int editor = User.GetUserId(); // Get the user ID from the claims (If you want to see method go to > Extensions >

}

<div class="bg-light min-vh-100" id="mainContent">
    <div class=" row d-flex align-items-center justify-content-between">
        <h2 class="pt-1 ps-1 text-blue col-sm-6  col-6 fw-bold ">Edit User</h2>
        <button type="button" class=" mt-2 backbtn col-sm-3 col-md-2 col-lg-1 col-6 "
            onclick="location.href='@Url.Action("UserList", "User")'">&lt;
            Back</button>
    </div>

    <div class="mainContent">
        <form asp-action="EditUser" asp-controller="User" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="EditorId" value=@editor />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <div class="row d-flex">
                <div class="col-md-6 col-12 p-2">
                    <div class="form-floating">
                        <input type="text" asp-for="FirstName" id="Firstname" value="@Model.FirstName"
                            class="form-control custom-input" required />
                        <label for="Firstname">First Name</label>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12 p-2">
                    <div class="form-floating">
                        <input type="text" asp-for="LastName" id="Lastname" value="@Model.LastName"
                            class="form-control custom-input" required />
                        <label for="Lastname">Last Name</label>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
            </div>

            <div class="row d-flex">
                <div class="col-md-6 col-12 p-2">
                    <div class="form-floating">
                        <input type="text" asp-for="UserName" id="Username" value="@Model.UserName"
                            class="form-control custom-input" required />
                        <label for="Username">User Name</label>
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12 p-2">
                    <div class="form-floating">
                        <select asp-for="RoleId" id="RoleDropdown" class="form-control custom-select" required>
                            <option value="">Select Role</option>
                            <option value=1 selected="@(Model.RoleId == 1)">Admin
                            </option>
                            <option value=3 selected="@(Model.RoleId == 3)">
                                Account Manager</option>
                            <option value=2 selected="@(Model.RoleId == 2)">Chef</option>
                        </select>
                        <label for="RoleDropdown">Role</label>
                        <span class="text-danger" asp-validation-for="RoleId"></span>
                        @* <span class="floating-label">Role</span> *@
                    </div>
                </div>
            </div>

            <div class="row d-flex ">
                <div class="col-md-6 col-12 p-2">
                    <div class="form-floating">
                        <input type="email" asp-for="EmailId" value="@Model.EmailId" class="form-control custom-input"
                            readonly />
                        <label for="emailId">E-Mail</label>
                        @* <span class="floating-label">Email</span> *@
                    </div>
                </div>
                <div class="col-md-6 col-12 p-2">
                    <div class="form-floating">
                        <select asp-for="Status" id="StatusDropdown" class="form-control custom-select" required>
                            <option value="">Select Status</option>
                            <option value="Active" selected="@(Model.Status == "Active")">Active</option>
                            <option value="Inactive" selected="@(Model.Status == "Inactive")">Inactive
                            </option>
                        </select>
                        <label for="StatusDropdown">Status</label>
                        <span class="text-danger" asp-validation-for="Status"></span>
                    </div>

                </div>
            </div>

            <div class="d-flex p-2 w-100">
                <!-- Browse Files -->
                <div id="dropzone" class="dropzone w-100 d-flex flex-column justify-content-center align-items-center">
                    <input asp-for="Photo" id="fileInput" class="upload-input" accept="image/*" />
                    <i class="bi bi-cloud-arrow-up z-2 fs-4 browseFileElements"></i>
                    <h6 class="colour-styling d-flex justify-content-center browseFileElements">Browse File</h6>
                    <div id="fileDetails" class="file-details-container mt-2 d-none">
                        <p id="fileName" class="file-name mb-1"></p>
                        <div class="image-preview-wrapper">
                            <img id="imagePreview" src="#" alt="Image Preview"
                                class="image-preview img-thumbnail mb-1" />
                        </div>
                        <button type="button" id="removeImageButton" class="btn btn-danger">Remove Image</button>
                    </div>
                </div>

            </div>

            <div class="row d-flex ">
                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select id="CountryDropdown" asp-for="ContryId" class="form-control custom-select"
                            asp-items="ViewBag.CountryList">
                            <option value="@Model.ContryId">Select a Country</option>
                        </select>

                        <label for="CountryDropdown">Country</label>
                        <span class="text-danger" asp-validation-for="ContryId"></span>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select id="StateDropdown" asp-for="StateId" class="form-control custom-select">
                            <option value="@Model.StateId">Loading...</option> <!-- Placeholder -->
                        </select>
                        <label for="StateDropdown">State</label>
                        <span class="text-danger" asp-validation-for="StateId"></span>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select id="CityDropdown" asp-for="CityId" class="form-control custom-select">
                            <option value="@Model.CityId">Loading...</option> <!-- Placeholder -->
                        </select>
                        <label for="CityDropdown">City</label>
                        <span class="text-danger" asp-validation-for="CityId"></span>
                    </div>
                </div>
            </div>

            <div class="row d-flex ">
                <div class="col-md-4 p-2">
                    <div class="form-floating">
                        <input type="text" asp-for="Address" maxlength="200" id="Address" value="@Model.Address"
                            class="form-control custom-input" required />
                        <label for="Address">Address</label>
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                </div>
                <div class="col-md-4 p-2">
                    <div class="form-floating">
                        <input type="text" asp-for="ZipCode" id="Zipcode" value="@Model.ZipCode"
                            class="form-control custom-input" required />
                        <label for="Zipcode">ZipCode</label>
                        <span class="text-danger" asp-validation-for="ZipCode"></span>
                    </div>
                </div>
                <div class="col-md-4 p-2">
                    <div class="form-floating">
                        <input type="text" asp-for="PhoneNumber" id="Phone" value="@Model.PhoneNumber"
                            class="form-control custom-input" required />
                        <label for="Phone">Phone Number</label>
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
            </div>

            <div class="d-flex col-md-6 col-lg-4 col-12">
                <button type="submit" class="btn updateBtn mt-2 me-1 w-50">Update User</button>
                <a type="reset" class="mt-2 ms-1 btn cancelbtn w-50" asp-action="EditUser" asp-controller="User"
                    asp-route-id="@Model.UserId">Cancel</a>
            </div>
        </form>
    </div>
</div>


<script src="~/js/Users.js"></script>
